.DS_Store
__pycache__
/TEMP
*.pyd
*.pt
*.pth
*.exe
*.bin
*.bk
*.gguf
.venv
*.env
!/logs/mute
.cache
*.log
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/RVC-Studio.iml
/.idea/vcs.xml
